
@{
    ViewData["Title"] = "Details";
}

    <div class="text-center container">
        <h1>@Model.Name</h1>
        @*<p>@model.category.title</p>*@
        <p>Lorem ipsum ifbndosna[voiafnvianvninvfidin[vfnn</p>
    </div>
